*{
	overflow:hidden;
	font-family: "微软雅黑";
	}
header{
	padding-bottom:10px;
	border-bottom:1px #00F dashed;
	font-size:24px;
	text-align:center;
	color:#00F;
	}
article{
	padding:20px 0 0 30px;
	}
#article_main{
	padding-right:25px;
	height:300px;
	overflow:auto;
	
	}