#article_right{
	width:520px;
	background:#FFF;
	border-left:1px solid #CDCDCD;
	border-right:1px solid #CDCDCD;
	border-top:1px solid #CDCDCD;
	}
#article_right_main{
	color: #666;
	padding:10px 10px;
	border-bottom:1px solid #CDCDCD;cursor:pointer;
	}
#article_right_main:hover{
	background-color:#FFC;
	color: #666;
	padding:10px 10px;
	border-bottom:1px solid #CDCDCD;cursor:pointer;
	}
#article_right_main_left{
	color: #666;
	width:200px;
	float:left;
	}
.article_button {
	margin-top:20px;
	width:80px;
	height: 40px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px rgba(255, 255, 255, 0.3);
	background: #adcbfa;
	background-clip: padding-box;
	border: 1px solid #284473;
	border-bottom-color: #223b66;
	border-radius: 4px;
	cursor: pointer;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 7px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 7px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.15);

}
.article_button:active {
	-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.1);
}
.article_button:hover {
	background: #06F;
}
.login-input {
	width:230px;
	height:30px;
	padding:0 10px;
	border: 1px solid #15243b;
	border-top-color: #0d1827;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
}
